<div class="side-bar_head">
<%# div class="side-bar-header" %>
   <div class="user-name"> 
   <%# <div class=""header-name> %> 
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat-g"> 
  <%# <div class="create-room">  %>
  <a href="#">チャットを作成する</a>
  </div>

</div>
<div class="side-bar_main"><%# div class="rooms" %>
  <div class="room">
    <div class="room-name">
      <a href="#">chatroom1</a>
    </div>
  </div>
  <div class="room">  
    <div class="room-name">
      <a href="#">chatroom2</a>
    </div>
  </div>

</div>
