.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
  
}

.side-bar_head {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.chat-g a {
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  text-decoration: none;
}

.side-bar_main {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0px 40px;
}

.room-name a{
  text-decoration: none;
  color: white;
}


.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat_head {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title{
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}

.header-button{
  margin-top: 40px;
}


.header-button a{
  color: darkred;
  text-decoration: none;
  padding: 20px;
  border: 1px solid darkred;
}

.chat_main {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.message{
 margin: 10px 0 0 0;
  
}

.upper-message{
  display:flex ;
}

.name{
  font-size: 16px;
  color: #434a54;  
}

.date{
  font-size: 12px;
  color: #999;
  padding-left:10px ;
}

.lower-message{
  margin-top: 10px;
}

.message-content{
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}

.chat_footer {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.form-input{
  width: 100%;
  background-color: white;
  display: flex;
}

.form-message{
  padding-left: 10px;
  border: none;
  height: 50px;
  width: 100%;
}

.form-submit{
  margin-left: 15px;
  background-color: #38aef0;
  padding: 0 20px;
  border: none;
  font-size: 16px;
  color: white;
  height: 50px;
}

.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}