.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
  
}

.side-bar_head {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.chat-g a {
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  text-decoration: none;
}

.side-bar_main {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0px 40px;
}

.room-name a{
  text-decoration: none;
  color: white;
}


.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat_head {
  height: 100px;
  padding: 0 40px;

}

.chat_main {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.chat_footer {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 0;
}